{% set componentName = "wil-team-member" %}
{% set columnStyles = '--col-xs:' ~ responsive.xs ~ ';--col-sm:' ~ responsive.sm ~ ';--col-md:' ~ responsive.md ~ ';--col-lg:' ~ responsive.lg %}
{% set gapStyles = '--gap-xs:' ~ responsive.gapXs ~ 'px;--gap-sm:' ~ responsive.gapSm ~ 'px;--gap-md:' ~ responsive.gapMd ~ 'px;--gap-lg:' ~ responsive.gapLg ~ 'px' %}
{% set componentFile = 'component3.twig' %}

{% if content|length == 0 %}
<div class="{{ componentName }}-wrapper">
  <div class="p:40px fz:20px ta:center bgc:#eee cur:pointer">Click here to set up the team member</div>
</div>
{% else %}

<div class="{{ componentName }}-wrapper">
  {% if carousel.enable %}
    <div
      class="wil-swiper"
      data-options='{
        slidesPerView: {{ responsive.xs }},
        spaceBetween: {{ responsive.gapXs }},
        breakpoints: {
          768: { slidesPerView: {{ responsive.sm }}, spaceBetween: {{ responsive.gapSm }} },
          992: { slidesPerView: {{ responsive.md }}, spaceBetween: {{ responsive.gapMd }} },
          1200: { slidesPerView: {{ responsive.lg }}, spaceBetween: {{ responsive.gapLg }} }
        }
      }'
    >
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for item in content %}
            <div class="swiper-slide">
              {% include "Shared/" ~ componentFile with { item } %}
            </div>
          {% endfor %}
        </div>
      </div>
      {% if carousel.buttonEnable %}
        <div class="swiper-button-next bg:none!" style="color: {{ carousel.buttonColor }}"></div>
        <div class="swiper-button-prev bg:none!" style="color: {{ carousel.buttonColor }}"></div>
      {% endif %}
      {% if carousel.paginationEnable %}
        <div class="swiper-pagination" style="color: {{ carousel.buttonColor }}"></div>
      {% endif %}
    </div>
  {% else %}
    <div class="{{ componentName }}-grid" style="{{ columnStyles }};{{ gapStyles }}">
      {% for item in content %}
        <div class="{{ componentName }}-col">
          {% include "Shared/" ~ componentFile with { item } %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% endif %}
