{% set componentName = "wil-team-member" %}
{% set background = item.backgroundColor ? 'background-color:' ~ item.backgroundColor ~ ';' : '' %}
{% set nameColor = item.nameColor ? 'color:' ~ item.nameColor ~ ';' : '' %}
{% set textColor = item.textColor ? 'color:' ~ item.textColor ~ ';' : '' %}
{% set buttonColor = item.buttonColor ? 'color:' ~ item.buttonColor ~ ';' : '' %}
{% set workColor = item.workColor ? 'color:' ~ item.workColor ~ ';' : '' %}
{% set buttonBackgroundColor = item.buttonBackgroundColor ? 'background-color:' ~ item.buttonBackgroundColor ~ ';' : '' %}
{% set reverseClassName = reverse and loop.index0 % 2 == 1 ? 'flf:row-reverse@md' : '' %}
{% set socials = ['facebook','twitter','instagram','linkedin','youtube','pinterest','dribbble','behance','github','vimeo','soundcloud','tumblr','twitch','vk','reddit','medium','spotify','discord','telegram','skype','whatsapp'] %}

<div class="{{ componentName }}-4 {{ componentName }}-parent c:#000 lh:1.5 bgc:#fff" style="{{ background }}">

  <div class="d:flex flw:wrap {{ reverseClassName }}">
    <div class="w:100% w:50%@md">
      <div class="{{ componentName }}-4__img pos:relative h:100%@md pt:75%@+md bgp:center bgz:cover bgc:rgba(0,0,0,0.04)" style="background-image: url('{{ item.image }}')">
        <div class="{{ componentName }}-3__social pos:absolute t:50% l:50% trf:translate(-50%,-50%) d:flex ai:center">
          {% if item.socialEnabled %}
            {% for social in socials %}
              {% if item[social] %}
                <a href="{{ social.url }}" class="{{ componentName }}-3__social {{ componentName }}-child--fadeup td:none d:inline-block trs:0.3s" style="transition-delay: {{ loop.index0 }}00ms">
                  <i class="fab fa-{{ social }} fz:18px bgc:#fff c:#000 bdrs:50% w:42px w:60px@md h:42px h:60px@md d:flex jc:center ai:center m:4px trs:0.3s"></i>
                </a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="w:100% w:50%@md">
      <div class="p:pfs(0px,60px) pt:pfs(10px,100px)! pb:pfs(30px,80px)!" style="{{ background }}">
        {% if item.work %}
          <div class="{{ componentName }}-4__work fz:14px fw:600! tt:uppercase lts:1px! c:#888" style="{{ workColor }}">{{ item.work }}</div>
        {% endif %}

        {% if item.name %}
          <h2 class="{{ componentName }}-4__name m:0 mt:15px fz:pfs(28px,32px) fw:600!" style="{{ nameColor }}">{{ item.name }}</h2>
        {% endif %}

        {% if item.text %}
          <div class="{{ componentName }}-4__text mt:20px op:0.8 fz:17px c:#555" style="{{ textColor }}">{{ item.text }}</div>
        {% endif %}

        {% if item.buttonText %}
          <a href="{{ item.buttonUrl }}" class="{{ componentName }}-4__btn d:inline-block bxsh:none o:0 td:none p:15px_50px bdrs:10px bgc:#ffdbc7 c:#000 fz:14px fw:600 mt:pfs(30px,40px)" style="{{ buttonColor }}{{ buttonBackgroundColor }}">{{ item.buttonText }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
