{% set componentName = "wil-team-member" %}
{% set background = item.backgroundColor ? 'background-color:' ~ item.backgroundColor ~ ';' : '' %}
{% set nameColor = item.nameColor ? 'color:' ~ item.nameColor ~ ';' : '' %}
{% set textColor = item.textColor ? 'color:' ~ item.textColor ~ ';' : '' %}
{% set workColor = item.workColor ? 'color:' ~ item.workColor ~ ';' : '' %}
{% set buttonColor = item.buttonColor ? 'color:' ~ item.buttonColor ~ ';' : '' %}
{% set buttonBackgroundColor = item.buttonBackgroundColor ? 'background-color:' ~ item.buttonBackgroundColor ~ ';' : '' %}
{% set socials = ['facebook','twitter','instagram','linkedin','youtube','pinterest','dribbble','behance','github','vimeo','soundcloud','tumblr','twitch','vk','reddit','medium','spotify','discord','telegram','skype','whatsapp'] %}

<div class="{{ componentName }}-3 {{ componentName }}-parent c:#000 lh:1.5 ta:center">

  {% if item.image %}
    <div class="{{ componentName }}-3__img pos:relative pt:75% bgp:center bgz:cover" style="background-image: url('{{ item.image }}')">
      <div class="{{ componentName }}-3__social pos:absolute t:50% l:50% trf:translate(-50%,-50%) d:flex ai:center">
        {% if item.socialEnabled %}
          {% for social in socials %}
            {% if item[social] %}
              <a href="{{ social.url }}" class="{{ componentName }}-3__social {{ componentName }}-child--fadeup td:none d:inline-block trs:0.3s" style="transition-delay: {{ loop.index0 }}00ms">
                <i class="fab fa-{{ social }} fz:18px bgc:#fff c:#000 bdrs:50% w:42px h:42px d:flex jc:center ai:center m:4px trs:0.3s"></i>
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endif %}

  <div class="p:15px p:20px@sm p:25px_20px@md m:20px bgc:#fff pos:relative z:9 {{ item.image ? 'mt:-50px' : 'mt:0' }}" style="{{ background }}">
    {% if item.name %}
      <h2 class="{{ componentName }}-3__name m:0 fz:pfs(18px,22px) fw:600!" style="{{ nameColor }}">{{ item.name }}</h2>
    {% endif %}

    {% if item.text %}
      <div class="{{ componentName }}-3__text mt:10px op:0.8 fz:16px c:#666" style="{{ textColor }}">{{ item.text }}</div>
    {% endif %}

    {% if item.work %}
      <div class="{{ componentName }}-1__divider w:30px h:2px bgc:#000 m:20px_auto"></div>
      <div class="{{ componentName }}-1__work fz:14px c:#555" style="{{ workColor }}">{{ item.work }}</div>
    {% endif %}

    {% if item.buttonText %}
      <a href="{{ item.buttonUrl }}" class="{{ componentName }}-3__btn d:inline-block bxsh:none o:0 td:none p:15px_30px bdrs:40px bgc:#2fc5af c:#fff mt:30px fz:14px fw:600" style="{{ buttonColor }}{{ buttonBackgroundColor }}">{{ item.buttonText }}</a>
    {% endif %}
  </div>
</div>
