{% set componentName = "wil-featured-block" %}

{% set startIconBackgroundColor = item.startIconBackgroundColor ? item.startIconBackgroundColor : '' %}
{% set endIconBackgroundColor = item.endIconBackgroundColor ? item.endIconBackgroundColor : '' %}
{% set borderRadius = item.borderRadius >= 0 ? 'border-radius:' ~ item.borderRadius ~ 'px;' : '' %}
{% set iconColor = item.iconColor ? 'color:' ~ item.iconColor ~ ';' : '' %}
{% set titleColor = item.titleColor ? 'color:' ~ item.titleColor ~ ';' : '' %}
{% set textColor = item.textColor ? 'color:' ~ item.textColor ~ ';' : '' %}

{% set bgIconGradientColorCss = index == 0 ? 'background-image:radial-gradient(circle,#fff_0%,#FFDBF7_100%)' : index == 1 ? 'background-image:radial-gradient(circle,#fff_0%,#E1FFE6_100%)' : 'background-image:radial-gradient(circle,#fff_0%,#FFEED1_100%)' %}
{% set iconColorCss = index == 0 ? 'c:#FF7EB3' : index == 1 ? 'c:#95FFA8' : 'c:#FFCD78' %}
{% set titleFontStyle = titleFont ? 'font-family:' ~ titleFont ~ ';' : '' %}
{% set textFontStyle = textFont ? 'font-family:' ~ textFont ~ ';' : '' %}

<div class="{{ componentName }}-3 d:flex align-items:center mt:10px mb:10px ">

  <div class="{{ componentName }}-3__icon-wrap pr:20px">

    <div class="{{ componentName }}-3__icon {{ bgIconGradientColorCss }} w:80px h:80px border-radius:40px pos:relative overflow:hidden"
        style="background-image: radial-gradient(circle, {{ startIconBackgroundColor }} 0%, {{ endIconBackgroundColor }} 100%); {{ iconBackgroundColor }} {{ borderRadius }}">

      {% if item.icon %}
        {% if item.icon.url %}
          <img
            class="pos:absolute top:50% left:50% trf:translate(-50%,-50%) w:36px"
            src="{{ item.icon.url }}"
            alt="" />
        {% else %}
          <i class="{{ iconColorCss }} pos:absolute top:50% left:50% trf:translate(-50%,-50%) fz:26px {{ item.icon }}" style="{{ iconColor }}"></i>
        {% endif %}
      {% endif %}
    </div>

  </div> <!-- /wrap-->

  <div class="{{ componentName }}-3__icon-text">
    {% if item.title %}
      <h5 class="mb:5px mt:0 fz:1.375rem fw:600 c:#212529 lh:1.375" style="{{ titleColor }}{{ titleFontStyle }}">{{item.title}}</h5>
    {% endif %}

    {% if item.text %}
      <p class="mt:0 mb:0 c:#adb5bd fz:0.975rem lh:1.785" style="{{ textColor }}{{ textFontStyle }}">{{ item.text }}</p>
    {% endif %}
  </div><!-- /text-->

</div>
