{% set componentName = "wil-featured-block" %}

{% set startIconBackgroundColor = item.startIconBackgroundColor ? item.startIconBackgroundColor : '' %}
{% set endIconBackgroundColor = item.endIconBackgroundColor ? item.endIconBackgroundColor : '' %}
{% set borderRadius = item.borderRadius >= 0 ? 'border-radius:' ~ item.borderRadius ~ 'px;' : '' %}
{% set borderIconColor = item.borderIconColor ? 'border-color:' ~ item.borderIconColor ~ ';' : '' %}
{% set iconColor = item.iconColor ? 'color:' ~ item.iconColor ~ ';' : '' %}
{% set titleColor = item.titleColor ? 'color:' ~ item.titleColor ~ ';' : '' %}
{% set textColor = item.textColor ? 'color:' ~ item.textColor ~ ';' : '' %}
{% set rotation = loop.index0 % 2 == 0 ? "trf:rotate3d(0,0,1,15deg)" : "trf:rotate3d(0,0,1,-15deg)" %}

{% set bgIconGradientColorCss = index == 0
                                ? 'background-image:linear-gradient(180deg,#B5FFD5_1%,#E9FFF2_100%)'
                                : index == 1
                                ? 'background-image:linear-gradient(180deg,#F29EF8_1%,#FDE3FF_100%)'
                                : 'background-image:linear-gradient(180deg,#FFC890_1%,#FFE9D2_100%)' %}

{% set iconColorCss = index == 0 ? 'c:#67D998' : index == 1 ? 'c:#F137FD' : 'c:#FF9F3E' %}
{% set titleFontStyle = titleFont ? 'font-family:' ~ titleFont ~ ';' : '' %}
{% set textFontStyle = textFont ? 'font-family:' ~ textFont ~ ';' : '' %}

<div class="{{ componentName }}-4 mt:10px mb:10px">

  <div class="{{ componentName }}-4__icon w:90px h:90px {{ rotation }} border-radius:1.5625rem mb:1.5625rem pos:relative">
    <div class="{{ componentName }}-4__mask2 border-radius:10px pos:absolute t:-20px l:20px w:100% h:100% bgc:#F9F9F9" style="{{ borderRadius }}"></div>
    <div class="{{ componentName }}-4__mask1 border-radius:10px pos:absolute t:-10px l:10px w:100% h:100% bgc:#F3F4F5" style="{{ borderRadius }}"></div>
    <div class="{{ componentName }}-4__icon-bg-color {{ bgIconGradientColorCss }} border-radius:10px pos:absolute t:0px l:0px w:100% h:100%" style="background-image: linear-gradient(180deg, {{ startIconBackgroundColor }} 1%, {{ endIconBackgroundColor }} 100%); {{ borderIconColor }} {{ borderRadius }}"></div>
    {% if item.icon %}
      {% if item.icon.url %}
        <img
          class="pos:absolute top:50% left:50% trf:translate(-50%,-50%) w:46px"
          src="{{ item.icon.url }}"
          alt="" />
      {% else %}
        <i class="{{ iconColorCss }} pos:absolute top:50% left:50% trf:translate(-50%,-50%) fz:38px text-align:center {{ item.icon }}" style="{{ iconColor }}"></i>
      {% endif %}
    {% endif %}
  </div>

  {% if item.title %}
    <h5 class="mb:1rem mt:1rem fz:1.375rem fw:600 c:#212529 lh:1.375" style="{{ titleColor }}{{ titleFontStyle }}">{{item.title}}</h5>
  {% endif %}

  {% if item.text %}
    <p class="c:#adb5bd fz:0.975rem lh:1.785" style="{{ textColor }}{{ textFontStyle }}">{{ item.text }}</p>
  {% endif %}

</div>
