{% set componentName = "wil-featured-block" %}

{% set iconBackgroundColor = item.iconBackgroundColor ? 'background-color:' ~ item.iconBackgroundColor ~ ';' : '' %}
{% set svgIconBackgroundColor = item.iconBackgroundColor ? 'fill:"' ~ item.iconBackgroundColor ~ '"' : '' %}
{% set borderRadius = item.borderRadius >= 0 ? 'border-radius:' ~ item.borderRadius ~ 'px;' : '' %}
{% set iconColor = item.iconColor ? 'color:' ~ item.iconColor ~ ';' : '' %}
{% set titleColor = item.titleColor ? 'color:' ~ item.titleColor ~ ';' : '' %}
{% set textColor = item.textColor ? 'color:' ~ item.textColor ~ ';' : '' %}
{% set titleFontStyle = titleFont ? 'font-family:' ~ titleFont ~ ';' : '' %}
{% set textFontStyle = textFont ? 'font-family:' ~ textFont ~ ';' : '' %}

{% set bgIconColorCss = index == 0 ? 'bgc:#6CD2FF' : index == 1 ? 'bgc:#FFBA52' : index == 2 ? 'bgc:#FF75B3' : 'bgc:#9dedc0' %}
{% set iconColorCss = index == 0 ? 'c:#6CD2FF' : index == 1 ? 'c:#FFBA52' : index == 2 ? 'c:#FF75B3' : 'c:#9dedc0' %}
{% set svgBgColorCss = index == 0 ? 'fill="#6CD2FF"' : index == 1 ? 'fill="#FFBA52"' : index == 2 ? 'fill="#FF75B3"' : 'fill="#9dedc0"' %}

<div class="{{ componentName }}-2 d:flex align-items:center mt:10px mb:10px">

  <div class="{{ componentName }}-2__icon-wrap pr:20px">
  {% if item.image %}

    <div class="{{ componentName }}-2__icon w:90px h:90px border-radius:20px border:2px_solid_transparent pos:relative overflow:hidden" style="{{ borderRadius }}">
      <div class="{{ componentName }}-2__icon-bg {{ bgIconColorCss }} pos:absolute top:0 left:0 right:0 bottom:0 opacity:0.15"
        style="{{ iconBackgroundColor }}"></div>

      {% if item.icon %}
        {% if item.icon.url %}
          <img
            class="pos:absolute top:50% left:50% trf:translate(-50%,-25px) w:36px"
            src="{{ item.icon.url }}"
            alt="" />
        {% else %}
          <i class="{{ iconColorCss }} pos:absolute top:50% left:50% trf:translate(-50%,-25px) fz:28px text-align:center {{ item.icon }}" style="{{ iconColor }}"></i>
        {% endif %}
      {% endif %}

      <div class="{{ componentName }}-2__icon-footer">
        <svg
        class="pos:absolute bottom:0 left:50% trf:translate(-50%,0) opacity:.3"
        width="90px" height="34px" viewBox="0 0 90 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Typography" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Education" transform="translate(-125.000000, -1595.000000)" {{svgBgColorCss}} style="{{ svgIconBackgroundColor }}">
                  <path d="M184.526419,1595.49819 C185.529903,1595.49819 186.478256,1595.88817 187.100782,1596.55682 L214.453388,1627.55867 C214.75527,1627.90532 214.95687,1628.30488 215.045553,1628.72516 L125.045338,1628.72554 C125.140237,1628.29725 125.365197,1627.8944 125.702227,1627.55867 L144.301999,1607.49222 C144.860836,1606.9057 145.671191,1606.53197 146.554566,1606.45335 C147.522928,1606.44383 148.444842,1606.80532 149.06457,1607.43754 L158.396636,1617.00601 C158.99632,1617.62966 159.894392,1617.99106 160.842281,1617.9902 C161.852796,1617.9818 162.802427,1617.57842 163.416643,1616.89666 L181.952056,1596.55682 C182.574582,1595.88817 183.522935,1595.49819 184.526419,1595.49819 Z" id="Combined-Shape"></path>
                </g>
            </g>
        </svg>
      </div>
    </div>

  {% else %}

    {% if item.icon %}
      <div
    class="{{ componentName }}-2__icon w:90px h:90px border-radius:20px border:2px_solid_transparent pos:relative overflow:hidden" style="{{ borderRadius }}">
      <div
        class="{{ componentName }}-2__icon-bg {{ bgIconColorCss }} pos:absolute top:0 left:0 right:0 bottom:0 opacity:0.15"
        style="{{ iconBackgroundColor }}"></div>

        <i class="{{ iconColorCss }} pos:absolute top:50% left:50% trf:translate(-50%,-25px) fz:28px text-align:center {{ item.icon }}" style="{{ iconColor }}"></i>

        <div class="{{ componentName }}-2__icon-footer">
          <svg
        class="pos:absolute bottom:0 left:50% trf:translate(-50%,0) opacity:.3"
        width="90px" height="34px" viewBox="0 0 90 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Typography" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Education" transform="translate(-125.000000, -1595.000000)" {{svgBgColorCss}} style="{{ svgIconBackgroundColor }}">
                    <path d="M184.526419,1595.49819 C185.529903,1595.49819 186.478256,1595.88817 187.100782,1596.55682 L214.453388,1627.55867 C214.75527,1627.90532 214.95687,1628.30488 215.045553,1628.72516 L125.045338,1628.72554 C125.140237,1628.29725 125.365197,1627.8944 125.702227,1627.55867 L144.301999,1607.49222 C144.860836,1606.9057 145.671191,1606.53197 146.554566,1606.45335 C147.522928,1606.44383 148.444842,1606.80532 149.06457,1607.43754 L158.396636,1617.00601 C158.99632,1617.62966 159.894392,1617.99106 160.842281,1617.9902 C161.852796,1617.9818 162.802427,1617.57842 163.416643,1616.89666 L181.952056,1596.55682 C182.574582,1595.88817 183.522935,1595.49819 184.526419,1595.49819 Z" id="Combined-Shape"></path>
                </g>
            </g>
        </svg>
        </div>

      </div>
    {% endif %}

  {% endif %}

  </div> <!-- /wrap-->

  <div class="{{ componentName }}-2__icon-text">
    {% if item.title %}
      <h5 class="mb:5px mt:0 fz:22px fw:600 c:#212529 lh:1.375" style="{{ titleColor }}{{ titleFontStyle }}">{{item.title}}</h5>
    {% endif %}

    {% if item.text %}
      <p class="mt:0 mb:0 c:#adb5bd fz:16px lh:1.785" style="{{ textColor }}{{ textFontStyle }}">{{ item.text }}</p>
    {% endif %}
  </div><!-- /text-->

</div>
