{% set componentName = "wil-featured-block" %}

{% set backgroundColor = item.backgroundColor ? 'background-color:' ~ item.backgroundColor ~ ';' : '' %}
{% set iconBackgroundColor = item.iconBackgroundColor ? 'background-color:' ~ item.iconBackgroundColor ~ ';' : '' %}
{% set borderRadius = item.borderRadius >= 0 ? 'border-radius:' ~ item.borderRadius ~ 'px;' : '' %}
{% set borderIconColor = item.borderIconColor ? 'border-color:' ~ item.borderIconColor ~ ';' : '' %}
{% set iconColor = item.iconColor ? 'color:' ~ item.iconColor ~ ';' : '' %}
{% set titleColor = item.titleColor ? 'color:' ~ item.titleColor ~ ';' : '' %}
{% set textColor = item.textColor ? 'color:' ~ item.textColor ~ ';' : '' %}
{% set bgIconColorCss = index == 0 ? 'bgc:#FFEED4' : index == 1 ? 'bgc:#E8E892' : index == 2 ? 'bgc:#BAEC93' : 'bgc:#9dedc0' %}
{% set titleFontStyle = titleFont ? 'font-family:' ~ titleFont ~ ';' : '' %}
{% set textFontStyle = textFont ? 'font-family:' ~ textFont ~ ';' : '' %}

<div class="{{ componentName }}-1  p:30px border-radius:25px mt:10px mb:10px trs:0.3s box-shadow:rgb(39_79_117/10%)_0px_40px_80px_-20px|hover" style="{{ backgroundColor }}">

  <div class="{{ componentName }}-1__icon w:90px h:90px border:2px_solid_transparent border-radius:1.5625rem mb:1.5625rem pos:relative {{ bgIconColorCss }}" style="{{ iconBackgroundColor }} {{ borderIconColor }} {{ borderRadius }}">
    {% if item.icon %}
      {% if item.icon.url %}
        <img
          class="pos:absolute top:50% left:50% trf:translate(-50%,-50%) w:46px"
          src="{{ item.icon.url }}"
          alt="" />
      {% else %}
        <i class="pos:absolute top:50% left:50% trf:translate(-50%,-50%) c:#ffffff fz:40px text-align:center {{ item.icon }}" style="{{ iconColor }}"></i>
      {% endif %}
    {% endif %}
  </div>

  {% if item.title %}
    <h5 class="mb:1rem mt:1rem fz:22px fw:600 c:#212529 lh:1.375" style="{{ titleColor }}{{ titleFontStyle }}">{{ item.title }}</h5>
  {% endif %}

  {% if item.text %}
    <p class="m:0 c:#adb5bd fz:16px lh:1.785" style="{{ textColor }}{{ textFontStyle }}">{{ item.text }}</p>
  {% endif %}

</div>
