{% set componentName = "wil-featured-block" %}

{% set backgroundColor = item.backgroundColor ? 'background-color:' ~ item.backgroundColor ~ ';' : ''%}
{% set borderRadius = item.borderRadius >= 0 ? 'border-radius:' ~ item.borderRadius ~ 'px;' : '' %}
{% set iconColor = item.iconColor ? 'color:' ~ item.iconColor ~ ';' : '' %}
{% set titleColor = item.titleColor ? 'color:' ~ item.titleColor ~ ';' : '' %}
{% set textColor = item.textColor ? 'color:' ~ item.textColor ~ ';' : '' %}
{% set titleFontStyle = titleFont ? 'font-family:' ~ titleFont ~ ';' : '' %}
{% set textFontStyle = textFont ? 'font-family:' ~ textFont ~ ';' : '' %}

{% set iconColorCss = index == 0
                      ? 'c:#67D998'
                      : index == 1
                      ? 'c:#F137FD'
                      : index == 2
                      ? 'c:#F137FD'
                      : index == 3
                      ? "c:#FF9F3E"
                      : index == 4
                      ? "c:#A7E541"
                      : index == 5
                      ? "c:#FEAC92"
                      : index == 6
                      ? "c:#A771FE"
                      : index == 7
                      ? "c:#35D073"
                      : "c:#A400FF"
                      %}

<div class="{{ componentName }}-5 bgc:#fff p:20px border-radius:15px d:flex h:100% trs:0.3s trf:scale(0.9)|hover trf:translate(0,-10px)|hover" style="{{ borderRadius }} {{ backgroundColor }}">

  <div class="{{ componentName }}-5__icon-wrap pr:10px">

    <div class="{{ componentName }}-5__icon w:56px h:56px border-radius:40px border:2px_solid_transparent pos:relative overflow:hidden">

      {% if item.icon %}
        {% if item.icon.url %}
          <img
            class="pos:absolute top:50% left:50% trf:translate(-50%,-50%) w:40px"
            src="{{ item.icon.url }}"
            alt="" />
        {% else %}
          <i class="{{ iconColorCss }} pos:absolute top:50% left:50% trf:translate(-50%,-50%) fz:34px text-align:center {{ item.icon }}" style="{{ iconColor }}"></i>
        {% endif %}
      {% endif %}

    </div>

  </div> <!-- /wrap-->

  <div class="{{ componentName }}-5__icon-text">
    {% if item.title %}
      <h5 class="mb:5px mt:0 fz:22px fw:600 c:#212529 lh:1.375" style="{{ titleColor }}{{ titleFontStyle }}">{{item.title}}</h5>
    {% endif %}

    {% if item.text %}
      <p class="mt:0 mb:0 c:#adb5bd fz:16px lh:1.785" style="{{ textColor }}{{ textFontStyle }}">{{ item.text }}</p>
    {% endif %}
  </div><!-- /text-->

</div>
